{% extends "layout.html" %}
{% load static %}

{% block content %}
<nav>
    <div class="navust">
        <div class="left">
            <ul>
                <li><i class="fa-solid fa-location-arrow"></i>Tarsus / Mersin</li>
                <li><a href="#"><i class="fa-solid fa-phone"></i>+90 553 710 44 84</a></li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i>Less.resmi@gmail.com</a></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li>Haftanın Her Günü: 09:00 - 21:00</li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="navalt">
        <div class="navlogo">
            <a href="#"><img src="{% static 'less.png' %}" alt="logo"></a>
        </div>
        <input type="checkbox" name="menu" id="menu">
        <label for="menu"><i class="fa-solid fa-bars"></i></label>
        <div class="menuler">
            <ul>
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">Web Hizmetlerimiz <i class="fa-solid fa-angle-down"></i></a>
                <div class="altmenu">
                    <ul>
                        <li><a href="#">Web Tasarım Hizmetleri</a></li>
                        <li><a href="#">Kurumsal Web Tasarım Hizmetleri</a></li>
                        <li><a href="#">E-ticaret Websitesi Ve E-ticaret Websitesi Tasarımı</a></li>
                        <li><a href="#">SEO Uyumlu Web Tasarım</a></li>
                    </ul>
                </div>
                </li>
                <li><a href="#">Kurumsal <i class="fa-solid fa-angle-down"></i></a>
                <div class="altmenu">
                    <ul>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Vizyonumuz</a></li>
                        <li><a href="#">Visyonumuz</a></li>
                    </ul>
                </div>
                </li>
                <li><a href="#">Referanslar</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#"><button class="button">İletişime Geç</button></a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="hero-section"></section>
    <div class="content-container">
        <h5 class="subtitle">LESS</h5>
        <h1 class="title">Yaratıcı Web Tasarım Hizmetleri</h1>
        <p class="description">
            Less olarak, markanızın dijital dünyada öne çıkmasını sağlayacak yaratıcı ve işlevsel
            <strong>kurumsal web tasarım</strong>, mobil uyumlu, profesyonel kurumsal web tasarım çözümleri sunuyoruz. 
            Kullanıcı deneyimini ön planda tutarak, <strong>modern ve estetik web siteleri</strong> tasarlıyoruz. İşinizi bir üst seviyeye taşımak için bizimle iletişime geçin.
        </p>
        <a href="#contact"><button class="button">İletişime Geç</button></a>
    </div>
    <div class="yildiz">
        <img src="{% static 'yildiz.png' %}" alt="yildiz" width="50px">
    </div>
    <div class="image-container">
        <img src="{% static 'anamenu.png' %}" alt="Rocket" class="image-rocket">
    </div>
</section>



<section class="hero-footer">
    <div class="hero-footer-content">
        <div class="right2">
            <h5>LESS</h5>
        <h1>LESS Teknolojiye Yön Veren Bir Ekip!</h1>
        </div>
        <div class="left2">
            <button class="animated-button">
                <span>İletişime Geç</span>
                <span></span>
              </button>
        </div>
    </div>
</section>
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <img src="{% static 'less.png' %}" alt="" width="150px">
            <p>LESS olarak, işletmenizi dijital dünyada zirveye taşımak için buradayız. Yaratıcı çözümlerimiz ve profesyonel ekibimizle yanınızdayız. Bize katılın ve birlikte büyük başarılara imza atalım!</p>
        </div>
        <div class="footer-section">
            <h4>KISA YOLLAR</h4>
            <ul>
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#">Referanslar</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>HİZMETLERİMİZ</h4>
            <ul>
                <li><a href="#">Web Tasarım</a></li>
                <li><a href="#">Seo Çalışması</a></li>
                <li><a href="#">Google Reklam Çalışması</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>SUPPORT</h4>
            <ul>
                <li><a href="#">Satın Alma Politikası</a></li>
                <li><a href="#">Gizlilik Politikası</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © LESS all rights reserved.</p>
    </div>
</footer>



<script>
    const menuItems = document.querySelectorAll('.menuler ul li a');

    menuItems.forEach(item => {
        item.addEventListener('click', function (e) {
            const submenu = this.nextElementSibling; 
            
            if (submenu && submenu.classList.contains('altmenu')) {
                e.preventDefault(); 

                if (submenu.style.display === "block") {
                    submenu.style.display = "none";
                } else {
                    submenu.style.display = "block";
                }
            }
        });
    });
</script>


<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
ul {
    list-style-type: none;
}
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navust {
    display: flex;
    justify-content: space-between;
    background-color: #4931ed;
    padding: 5px 100px 5px 100px;
    color: white;
}
.navust a,i {
    color: white;
    text-decoration: none;
}
.left ul {
    display: flex;
}
.left ul li {
    margin-right: 20px;
}
.left i {
    margin-right: 10px;
}
.right ul {
    display: flex;
}
.right ul li {
    margin-left: 10px;
}
.right i {
    margin-left: 10px;
}
.navalt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.256);
    padding: 0 50px 0 50px;
    transition: all 0.3s all;
}
.navalt a {
    text-decoration: none;
    color: black;
    font-weight: 550;
}
.navalt a:hover {
    color: #806ff3;
}
.navalt a:hover i {
    color: #806ff3;
}
.navalt i {
    color: black;
}
.navalt input,label {
    display: none;
}
.navalt img {
    width: 200px;
}
.menuler ul {
    display: flex;
    position: relative;
    font-size: 15px;
}
.menuler ul li {
    margin-right: 20px;
}
.altmenu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s all;
}
.menuler ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    background-color: #f7f6f6;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    font-size: 15px;
    transition: all 0.3s ease;
}
.menuler ul li ul li:first-child {
    margin-top: 0px;
}
.menuler ul li ul li {
    margin-top: 15px;
}
.menuler ul li:hover .altmenu{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}
.menuler ul li i {
    transition: all 0.3s ease;
}
.menuler ul li:hover i {
    transform: rotate(180deg);
}

/* button */
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #4931ed;
    border: 2px solid #4931ed;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 550;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin-top: -30px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 55px;
    height: 40px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #4931ed;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #fff;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
/* button end */


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: linear-gradient(135deg, #fff, #f0f4ff);
    flex-direction: row;
    position: relative;
}
.yildiz {
    position: absolute;
    top: 230px;
    left: 50%;
    animation: rotate360 10s linear infinite;
}
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.content-container {
    max-width: 50%;
    padding-left: 100px;
}

.subtitle {
    color: #6a57d2;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 30px;
}

.contact-btn {
    background-color: #06d6a0;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #04b58e;
}

.image-container {
    position: relative;
    width: 95%;
    text-align: right;
    margin-top: -350px;
}

.image-container img {
    position: absolute;
    max-width: 30%;
    transition: transform 0.3s ease;
}

.image-rocket {
    top: 10px;
    right: 60px;
}

.image-circle {
    top: 70px;
    right: 120px;
    border-radius: 50%;
}

.image-growth {
    top: 150px;
    right: 0;
}

.image-seo {
    top: 200px;
    right: 90px;
}

.image-meeting {
    top: 270px;
    right: 150px;
}

.image-container img:hover {
    transform: scale(1.1);
}



@media only screen and (max-width: 768px) {
    nav {
        transition: all 0.3s ease;
    }
    .navust {
        display: flex;
        justify-content: center;
        background-color: #4931ed;
        align-items: center;
        color: white;
        padding: 10px 0 10px 0px;
        width: 100%;
    }
    .navust a, .navust i {
        color: white;
        text-decoration: none;
    }
    .left {
        display: none;
    }
    .right ul {
        display: flex;
    }
    .right ul li {
        margin-left: 0px;
    }
    .right i {
        display: none;
    }
    .navalt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.256);
        padding: 0 10px 0 10px;
        transition: all 0.3s ease;
    }
    .navalt a {
        text-decoration: none;
        color: black;
        font-weight: 550;
    }
    .navalt a:hover {
        color: #806ff3;
    }
    .navalt a:hover i {
        color: #806ff3;
    }
    .navalt i {
        color: black;
    }
    .navalt input {
        display: none;
        transition: all 0.3s ease;
    }
    .navalt label {
        display: block;
        font-size: 24px;
        transition: all 0.3s ease;
        margin-left: 200px;
    }
    .navalt img {
        width: 100px;
    }


    .menuler ul {
        display: flex;
        position: fixed;
        font-size: 15px;
        left: -1000px; 
        top: 0;
        flex-direction: column;
        background-color: #fff;
        width: 80%;
        z-index: 1000;
        padding-left: 30px;
        border-left: 1px solid black;
        height: 100vh;
        transition: all 0.3s ease;
    }

   
    .navalt input:checked ~ .menuler ul {
        left: 0; 
        transition: all 0.3s ease !important;
    }

    .menuler ul li {
        margin-top: 30px;
    }

    .button {
        display: none;
    }

    .altmenu {
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menuler ul li ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 115px;
        background-color: #f7f6f6;
        border-radius: 10px;
        padding: 15px;
        width: 100%;
        font-size: 15px;
        transition: all 0.3s ease;
        padding-left: 30px;
    }

    .menuler ul li ul li:first-child {
        margin-top: 0px;
    }

    .menuler ul li ul li {
        margin-top: 15px;
    }

    .menuler ul li:hover .altmenu {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease;
    }

    .menuler ul li i {
        transition: all 0.3s ease;
    }

    .menuler ul li:hover i {
        transform: rotate(180deg);
    }
    .hero-section {
        display: flex;
        padding: 15px;
        background: linear-gradient(135deg, #fff, #f0f4ff);
        flex-direction: column;
        position: relative;
    }
    .yildiz {
        position: absolute;
        top: 230px;
        left: 80%;
        animation: rotate360 10s linear infinite;
    }
    @keyframes rotate360 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .content-container {
        max-width: 100%;
        padding-left: 20px;
    }
    
    .subtitle {
        color: #6a57d2;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
        color: #000;
    }
    
    .description {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #333;
        margin-bottom: 30px;
    }
    
    .contact-btn {
        background-color: #06d6a0;
        color: #fff;
        padding: 15px 30px;
        border-radius: 30px;
        text-decoration: none;
        font-weight: 600;
        display: inline-block;
        transition: background-color 0.3s ease;
    }
    
    .contact-btn:hover {
        background-color: #04b58e;
    }
    
    .image-container {
        position: relative;
        width: 100%;
        text-align: right;
        margin-top: 0px;
    }
    
    .image-container img {
        position: absolute;
        max-width: 70%;
        transition: transform 0.3s ease;
    }
    
    .image-rocket {
        top: 0px;
        right: 60px;
    }
    
    .image-circle {
        top: 70px;
        right: 120px;
        border-radius: 50%;
    }
    
    .image-growth {
        top: 150px;
        right: 0;
    }
    
    .image-seo {
        top: 200px;
        right: 90px;
    }
    
    .image-meeting {
        top: 0px;
        right: 0px;
    }
    
    .image-container img:hover {
        transform: scale(1.1);
    }
    
}

.hero-footer {
    background-color: #4a3fc5;
    color: white;
    padding: 50px 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 500px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.279);
}
.hero-footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left2 {
    margin-right: 100px;
    margin-top: 40px;
}

.hero-footer h5 {
    font-size: 16px;
    color: #00e0ff;
    margin-bottom: 10px;
}

.hero-footer h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
footer {
    background-color: #4a3fc5;
    color: white;
    padding: 40px 0;
    text-align: center;
    margin-top: 0px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-container img {
    margin-top: -50px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #9b83ff;
}

.footer-bottom {
    margin-top: 40px;
}

.footer-bottom p {
    font-size: 14px;
    color: #c1b1ff;
}


@media only screen and (max-width: 768px) {
    .hero-footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .left2 {
        margin-top: 0px;
    } 
    .hero-footer {
        background-color: #4a3fc5;
        color: white;
        padding: 20px 20px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 450px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.279);
        flex-direction: column;
    }
    .hero-footer {
        text-align: left;
        flex-direction: column;
    }

    .hero-footer h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    footer {
        background-color: #4a3fc5;
        color: white;
        padding: 40px 0;
        text-align: center;
        margin-top: 0px;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin: 20px 0;
    }

    .footer-section ul li {
        margin-bottom: 15px;
    }

    .footer-section ul li a {
        font-size: 16px;
    }

    .footer-bottom {
        margin-top: 20px;
    }

    .footer-bottom p {
        font-size: 12px;
    }
}




.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 0 2px #fff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  
  
  
</style>
{% endblock %}